<div style="margin-top: -105px">
    
    <div class="row justify-content-md-center text-center">

        <div class="col col-3 bg-warning habilities" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-bookmark-heart-fill"></i>
            <h3>Incluido</h3>


            <ul>

                <li>Cuatro restaurantes y siete bares</li>
                <li>Bebidas alcohólicas , refrescos y jugos ilimitados</li>
                <li>Entretenimiento nocturno , shows en vivo</li>
                <li>Conexion inalámbrica a internet</li>
                <li>Cuatro piscinas exteriores e hidromasajes</li>
                <li>Dos canchas de tenis</li>
                <li>Campo de futbol playa</li>
                <li>Dos canchas de voleibol de playa</li>
                <li>Mesa de ping-pong</li>
                <li>Estacionamiento de cortesía</li>
                <li>Minigolf</li>

            
            </ul>

        </div>
    
        <div class="col col-3 bg-warning habilities" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-bookmark-star-fill"></i>
            <h3>Comodidades</h3>


            <ul>

                <li>Spa Heliconia</li>
                <li>Tienda de regalos</li>
                <li>Mostrador de alquiler de automóviles</li>
                <li>Cambio de moneda extranjera</li>
                <li>Transporte local</li>
                <li>Mostrador de informacion turística</li>
                <li>Cajero automático</li>
                <li>Lavanderia</li>
            </ul>

        </div>

    </div>

</div>