@{
    ViewData["Title"] = "Contacto";
}




<form asp-controller="Home" asp-action="Contact">
<div class="container">
    <div class="card h-100">
        <h1>Formulario de Contacto</h1>
        <div class="card-body">

                <div class="col-sm-6 mb-3">
                    <label for="Name"  class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="Name" name="Name" placeholder="Nombre y Apellido">
                </div>

                <div class="col-sm-6 mb-3">
                    <label  for="Email"  class="form-label">Email</label>
                    <input  type="email" class="form-control" id="Email" name="Email" placeholder="sucorreo@proveedor.com">
                </div>

                <div class="col-sm-6 mb-3">
                    <label for="Comments" class="form-label">Comentarios</label>
                    <textarea type="text" class="form-control" id="Comments" name="Comments" rows="3"></textarea>

            </div>
            <button type="submit" class="btn btn-outline-dark">Enviar</button>
        </div>
    </div>
</div>

</form>