
@{
    ViewData["Title"] = "Gracias";
}

<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Gracias por preferirnos!</h4>
    <p>Lorem ipsum dolor sit amet. Aut saepe officia vel pariatur officiis aut provident itaque 
       et omnis nesciunt qui quia voluptatem sit obcaecati beatae.</p>
    <hr>
    <p class="mb-0">
        <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Index">Inicio</a>
    </p>
</div>
